In [1]:
import pandas as pd

In [6]:
asset = "PETR3.SA"
path_data_dir = '../data/'
n_prev_meta = 1

In [10]:
ctg_tbl = pd.read_csv(path_data_dir + f'processed/contingency_table_price_history_{asset.replace('.', '_')}_meta_range({n_prev_meta})_dataset_ffill.csv', index_col = 0)

In [14]:
ctg_tbl.index.names = ['p']
ctg_tbl

    -3   -2   -1     0    1    2  3
p
-3   2    4    4     1    0    0  0
-2   9  137   69    18    2    0  0
-1   0   88  756   161    5    0  0
 0   0    6  178  1788  194    7  0
 1   0    0    1   184  871  106  0
 2   0    0    2    21   86  176  6
 3   0    0    0     1    3    2  5

In [20]:
print(ctg_tbl.apply(lambda x: [col/sum(x) for col in x]).round(2).to_latex())

\begin{tabular}{lrrrrrrr}
\toprule
 & -3 & -2 & -1 & 0 & 1 & 2 & 3 \\
p &  &  &  &  &  &  &  \\
\midrule
-3 & 0.180000 & 0.020000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 \\
-2 & 0.820000 & 0.580000 & 0.070000 & 0.010000 & 0.000000 & 0.000000 & 0.000000 \\
-1 & 0.000000 & 0.370000 & 0.750000 & 0.070000 & 0.000000 & 0.000000 & 0.000000 \\
0 & 0.000000 & 0.030000 & 0.180000 & 0.820000 & 0.170000 & 0.020000 & 0.000000 \\
1 & 0.000000 & 0.000000 & 0.000000 & 0.080000 & 0.750000 & 0.360000 & 0.000000 \\
2 & 0.000000 & 0.000000 & 0.000000 & 0.010000 & 0.070000 & 0.600000 & 0.550000 \\
3 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.000000 & 0.010000 & 0.450000 \\
\bottomrule
\end{tabular}

In [16]:
print(ctg_tbl.to_latex())

\begin{tabular}{lrrrrrrr}
\toprule
 & -3 & -2 & -1 & 0 & 1 & 2 & 3 \\
p &  &  &  &  &  &  &  \\
\midrule
-3 & 2 & 4 & 4 & 1 & 0 & 0 & 0 \\
-2 & 9 & 137 & 69 & 18 & 2 & 0 & 0 \\
-1 & 0 & 88 & 756 & 161 & 5 & 0 & 0 \\
0 & 0 & 6 & 178 & 1788 & 194 & 7 & 0 \\
1 & 0 & 0 & 1 & 184 & 871 & 106 & 0 \\
2 & 0 & 0 & 2 & 21 & 86 & 176 & 6 \\
3 & 0 & 0 & 0 & 1 & 3 & 2 & 5 \\
\bottomrule
\end{tabular}